<!DOCTYPE html>
<html>
<div id="main-container">
<head>
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>To Do List</h1>
    <form method="POST" action="/addtask">
        <input type="text" name="newtask" placeholder="Add new task here...">
        <button type="submit">Add Task</button>
    </form>
    <ul>
        <% tasks.forEach(function(task){ %>
            <li>
                <form method="POST" action="/removetask">
                    <input type="hidden" name="check" value="<%= task._id %>">
                    <input type="submit" value="x">
                    <%= task.name %>
                </form>
            </li>
        <% }); %>
    </ul>
</div>
</html>
